.coming-soon {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 48px;
    text-align: center;
    text-transform: capitalize;
    margin: 60px 0;
}
.logo {
    width: 370px;
    margin:auto;
}
.personaje {
    width: 320px;
    position: fixed;
    bottom: 0;
    right: 0;
}
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #d33893;
    border-right: 16px solid #252457;
    border-bottom: 16px solid #1d99a0;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin: auto;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }